body {
    margin: 0;
    padding: 0;
    position: relative;
    background: url(images/event_landing.png) no-repeat center center fixed;
    background-size: cover;
}

.centered-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    font-family: "Lora", serif;
    margin: 0;
    text-align: center;
    margin-top: 30vh;
    font-size: 8.4vw;
    font-weight: 10;
}

.content {
    padding: 10vh 0;
    text-align: center;
}

.calendar_bg {
    background: linear-gradient(to bottom, #ea7271, #fcc2b1);
    text-align: center;
    padding: 10vh 0;
    position: relative;
    top: 35vh;
}
