body {

    background-color: (to bottom, #ee776f, #f8d7b9);


    background:
        url("images/IMG_7896 1.png") center top/100% auto,

        linear-gradient(to bottom, #ee776f, #f8d7b9);


    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
    margin: 0;
}

#main-head {
    text-align: center;
    margin-top: 30vh;
    font-size: 6vw;
    font-family: "Lora", serif;
    font-weight: 90;
    color: white;
}

.team-image {
    position: absolute;
    top: 110vh;
    left: 0;
    width: 30vw;
    max-height: 100vh;
    margin-left: 0;
}

.background-div {
    margin-top: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100vw;
    padding-top: 0;
    min-height: 100vh;
}

#introduction {
    text-align: center;
    margin-top: 0vh;
    font-size: 6vw;
    font-family: "Lora", serif;
    font-weight: 90;
    width: 50vw;
    color: white;
}

#intro-text {
    padding-left: 10vw;
    font-family: "Lora", serif;
    color: white;
    font-size: 3.5vw;
    font-weight: 100;
}

.intro-content {
    display: flex;
}

#card-grid {
    margin-top: 20vh;
}

.card {
    margin: 4vw;
    width: 7vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.card-row {
    display: flex;
    justify-content: space-between;
}

.card-name {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-weight: bold;
}

.card-text {
    font-family: "DM Sans", sans-serif;
    color: white;
}

.card-year {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-style: italic;
}

.vertical-text, .vertical-text-two {
    position: absolute;
    top: 258vh;
    left: 5vw;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-family: "DM Sans", sans-serif;
    font-size: 6vw;
    color: white;
    font-weight: 150;
    letter-spacing: 0.5vw;
    white-space: nowrap;
}

.vertical-text-two {
    top: 590vh;
}

.founding-members-row {
    margin-top: 20vh;
    justify-content: center;
    margin-bottom: 10vh;
}

.line {
    position:absolute;
    top: 300vh;
    height: 200vh;
    left: 5vw;
    width: 1vw;
}