
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav {
    z-index: 2;
    top: 0;
    color: #fff;
    padding: 1vh;
    display: flex;
    width: 100%;
    align-items: center; 
    position: fixed;
}

nav.scrolled {
    background-color: rgba(255, 141, 141, 0.8);
    backdrop-filter: blur(1vh);
    transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
}


nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 3vw; 

}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2vh;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.2vh;
    font-weight: 500;
    display: inline-block;
}

nav ul li:first-child a {
    margin-right: 62vw; 
}

nav::after {
    content: "";
    position: absolute;
    bottom: -0.2vh;
    left: 0;
    width: 100%;
    height: 0.1vh; 
    background-color: #fff; 
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-right: 40px;
    margin-top: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
}

@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: rgba(37, 37, 37, 0.7);
        padding: 30px;
        margin-left: -20px;
        margin-top: -20px;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}