
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav {
    color: #fff;
    padding: 2vh;
    display: flex;
    align-items: center; 
    position: relative;
}


nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 3vw; 

}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2vh;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.2vh;
    font-weight: 500;
    display: inline-block;
}

nav ul li:first-child a {
    margin-right: 62vw; 
}

nav::after {
    content: "";
    position: absolute;
    bottom: -0.2vh;
    left: 0;
    width: 100%;
    height: 0.1vh; 
    background-color: #fff; 
}
