
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav {
    z-index: 2;
    top: 0;
    color: #fff;
    padding: 1vh;
    display: flex;
    width: 100%;
    align-items: center; 
    position: fixed;
}

nav.scrolled {
    background-color: rgba(255, 141, 141, 0.8);
    backdrop-filter: blur(10px);
    transition: background-color 0.5s ease-in-out, backdrop-filter 0.3s ease-in-out;
}


nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 3vw; 

}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2vh;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.2vh;
    font-weight: 500;
    display: inline-block;
}

nav ul li:first-child a {
    margin-right: 62vw; 
}

nav::after {
    content: "";
    position: absolute;
    bottom: -0.2vh;
    left: 0;
    width: 100%;
    height: 0.1vh; 
    background-color: #fff; 
}
